---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="main-content" itemprop="articleBody">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date |
          date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
          itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>

    {{ content }}
  </div>

  <a href="{{ site.url }}{{ site.baseurl }}">
    <h3 style="text-align: center;">- to blog -</h3>
  </a>

</article>

<div id="game">
  <h2>10명을 선택하고 그룹을 나누세요!</h2>
  <div id="name-list"></div>
  <button id="shuffle-btn">랜덤 그룹 나누기</button>
  <div id="result"></div>
</div>
<script src="assets/scripts.js"></script>